.oder-content {
    max-height: 20vh !important; /* Giới hạn chiều cao đoạn văn bản */
    overflow: hidden; /* Ẩn phần thừa */
    text-overflow: ellipsis; /* Hiển thị "..." khi văn bản bị cắt */
    margin-bottom: 10px;
}