
.content .page_title {
    text-align: center;
}

.content .page_title h1 {
    /*font-size: 36px;*/
    font-weight: 700;
}

.content .page_title h2 {
    /*font-size: 32px;*/
}

.content .vc_row .vc_column_container .vc_column-inner {
    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
}

.content .wpb_content_element ul {
    margin-left: 32px;
}

.page_privacy #main {
    /*padding: 0;*/
    /*margin-bottom: 70px;*/
}


@media (max-width: 1024px) {

}
@media (max-width: 768px) {
    .content .wpb_content_element > .wpb_wrapper {
        padding-right: 5%;
        padding-left: 5%;
    }
}
@media (max-width: 360px) {
    .content .wpb_content_element > .wpb_wrapper {
        padding-right: 8px;
        padding-left: 8px;
    }
}
