
.transparent .masthead {
    /*background-color: rgba(255,255,255,0) !important;*/
    background: rgba(255,255,255,0) url("../assets/bg-header-gradient.png") repeat-x left bottom !important;
    /*height: 360px;*/
}

.branding .block {
    width: 33%;
}

.branding .block-center {
    width: 34%;
    text-align: center;
}
.branding .block-center img {
    height: 96px;
}

.branding .block-right {
    line-height: 1;
    font-size: initial;
    font-style: italic;
    /*font-weight: bold;*/
    color: black;
    font-size: 11pt;
}
.branding .block-right table {}
.branding .block-right table tr td:first-child {
    text-align: right;
    padding: 0 16px 0 0;
}
.branding .block-right table tr td:first-child .line-wpml {
    margin-bottom: 8px;
}
.branding .block-right table tr td:first-child .line-wpml img {
    border: solid 1px transparent;
    padding: 1px;
    border-radius: 2px;
}
.branding .block-right table tr td:first-child .line-wpml .wpml-ls-current-language img {
    border: solid 1px orange;
}
.branding .block-right table tr td:first-child .line-wpml img:hover {
    border: solid 1px #0088cc;
}
.branding .block-right table tr td:first-child p.line-email {}
.branding .block-right table tr td:first-child p.line-phone img {
    width: 16px;
    margin-bottom: -2px;
}
.branding .block-right table tr td:first-child p.line-social-icons img {
    width: 28px;
    margin-left: 4px;
    margin-top: 8px;
}
.branding .block-right table tr td:last-child {
    text-align: right;
    width: 1%;
}
.branding .block-right table tr td:last-child img {
    max-width: 102px;
}

.classic-header .branding {
    padding: 0 0 32px 0;
}

/* TODO: handle responsive */
.fancy-header .wf-wrap {
    min-height: 720px !important;
}

body.home .fancy-header .wf-wrap {
    min-height: 880px !important;
}

body.page_tour .fancy-header .wf-wrap {
    min-height: 640px !important;
}

body.page_tours .fancy-header {
    background-image: url("../assets/bg-hero-home.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
body.page_tour_sights .fancy-header {
    background-image: url("../assets/bg-hero-sights.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
body.page_tour_foodie .fancy-header {
    background-image: url("../assets/bg-hero-foodie.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
body.page_tour_night .fancy-header {
    background-image: url("../assets/bg-hero-night.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
body.page_tour_photography .fancy-header {
    background-image: url("../assets/bg-hero-photography.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
body.page_gallery .fancy-header {
    background-image: url("../assets/bg-hero-girls-eating.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
body.page_contact .fancy-header {
    background-image: url("../assets/bg-hero-xo-girls-chasing.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
body.page_about .fancy-header {
    background-image: url("../assets/bg-hero-xo-girls-with-vespas.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
body.page_faq .fancy-header {
    background-image: url("../assets/bg-hero-girls-and-vespas.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
body.page_booking .fancy-header {
    background-image: url("../assets/bg-hero-home.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.title-center>.wf-wrap {
    justify-content: flex-start;
}

.fancy-header.title-center .hgroup {
    margin-top: 32px !important;
    width: 520px;
    max-width: 520px;
}

.fancy-header h1 {
    font-family: "Skywalker", Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
    font-size: 4em !important;
    line-height: 2 !important;
    color: black !important;
}
body.home .fancy-header h1 {
    line-height: 1 !important;
}
body.page_tour_night .fancy-header h1 {
    color: white !important;
}
body.page_tours .fancy-header .fancy-title-head,
body.page_tour .fancy-header .fancy-title-head {
    display: none;
}

body.page_tours #fancy-header > .wf-wrap {
    background: transparent url("../assets/item-slogan-experience-vietnam-on-two-wheels.png") no-repeat center top+22px;
    background-size: 493px;
}
body.page_tour_sights #fancy-header > .wf-wrap {
    background: transparent url("../assets/item-slogan-the-sights.png") no-repeat center top+16px;
    background-size: 479px;
}
body.page_tour_foodie #fancy-header > .wf-wrap {
    background: transparent url("../assets/item-slogan-the-foodie.png") no-repeat center top+24px;
    /*background-size: 20%;*/
    background-size: 373px;
}
body.page_tour_night #fancy-header > .wf-wrap {
    background: transparent url("../assets/item-slogan-saigon-by-night.png") no-repeat center top+24px;
    background-size: 417px;
}
body.page_tour_photography #fancy-header > .wf-wrap {
    background: transparent url("../assets/item-slogan-saigon-through-the-lens.png") no-repeat center top+16px;
    background-size: 383px;
}

@media (max-width: 960px) {
    .masthead.classic-header {
        top: 10px;
        padding-top: 32px !important;
    }
    .masthead.classic-header .header-bar {
        display: block;
    }
    body.home #fancy-header > .wf-wrap {
        background-position: center top+100px;
        background-size: 50%;
        min-height: 540px !important;
        background-size: 44%;
        height: 640px;
    }
    body.page_tour_sights #fancy-header > .wf-wrap {
        background-position: center top+100px;
        background-size: 50%;
        min-height: 540px !important;
    }
    body.page_tour_foodie #fancy-header > .wf-wrap {
        background: transparent url("../assets/item-slogan-the-foodie.png") no-repeat center top+24px;
        /*background-size: 20%;*/
        background-size: 373px;
    }
    body.page_tour_night #fancy-header > .wf-wrap {
        background: transparent url("../assets/item-slogan-saigon-by-night.png") no-repeat center top+24px;
        background-size: 417px;
    }
    body.page_tour_photography #fancy-header > .wf-wrap {
        background: transparent url("../assets/item-slogan-saigon-through-the-lens.png") no-repeat center top+16px;
        background-size: 383px;
    }
    .branding .block-right table td:last-child {
        display: none;
    }
    .branding .block-right table td:first-child p:last-child {
        display: none;
    }
    .branding .block-right table tr td:first-child {
        padding: 0;
    }
}

@media (max-width: 768px) {
    body.home #fancy-header > .wf-wrap {
        background-size: 70%;
        background-size: 44%;
    }
    body.page_tour_sights #fancy-header > .wf-wrap {
        background-position: center top+100px;
        background-size: 50%;
        min-height: 540px !important;
    }
    body.page_tour_foodie #fancy-header > .wf-wrap {
        background-position: center top+100px;
        background-size: 50%;
        min-height: 540px !important;
    }
    body.page_tour_night #fancy-header > .wf-wrap {
        background-position: center top+100px;
        background-size: 50%;
        min-height: 540px !important;
    }
    body.page_tour_photography #fancy-header > .wf-wrap {
        background-position: center top+100px;
        background-size: 50%;
        min-height: 540px !important;
    }
    
    body.page_contact .fancy-header {
        background-image: url("../assets/bg-hero-xo-girls-chasing_square.jpg");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
    }

}

@media (max-width: 440px) {
    .branding .block-center {
        position: absolute;
        width: 50%;
        left: 25%;
        top: 48px;
    }
    .branding .block-right p {
        margin-bottom: 0;
    }
    .branding .block-right {
        margin-left: 17%;
        font-size: 11px;
        width: 50%;
        white-space: nowrap;
    }
    body.home #fancy-header > .wf-wrap {
        background-size: 70%;
        min-height: 540px !important;
        height: 540px;
    }
    body.page_tour_sights #fancy-header > .wf-wrap {
        background-position: center top+120px;
        background-size: 80%;
        min-height: 480px !important;
    }
    body.page_tour_foodie #fancy-header > .wf-wrap {
        background-position: center top+120px;
        background-size: 80%;
        min-height: 480px !important;
    }
    body.page_tour_night #fancy-header > .wf-wrap {
        background-position: center top+120px;
        background-size: 80%;
        min-height: 480px !important;
    }
    body.page_tour_photography #fancy-header > .wf-wrap {
        background-position: center top+120px;
        background-size: 80%;
        min-height: 480px !important;
    }

    body.page_tour .row-tourpage-description .block-cool-momento {
        background-position: top+68px center !important;
    }
    body.page_tour .row-tourpage-description .block-cool-momento h4 {
        width: 100% !important;
    }
    body.page_tour .row-tourpage-description .block-cool-momento p {
        margin-top: 160px;
        margin-left: 0 !important;
    }
    body.page_tour .row-tourpage-description .block-cool-momento p+p {
        margin-top: 0px;
        margin-left: 0 !important;
    }

    img.alignleft {
        margin-right: 0;
        width: 100%;
    }
    img.alignright {
        margin-left: 0;
        width: 100%;
    }

    .branding .block-right table tr td:first-child .line-wpml {
        margin-bottom: 2px;
    }
}
@media (max-width: 320px) {
    .branding .block-center {
        position: absolute;
        width: 60%;
        left: 20%;
        top: 40px;
    }
    .branding .block-right p {
        margin-bottom: 0;
    }
    .branding .block-right {
        margin-left: 17%;
        font-size: 11px;
        width: 50%;
        white-space: nowrap;
    }
    body.page_tour_sights #fancy-header > .wf-wrap {
        background-position: center top+120px;
        background-size: 80%;
        min-height: 480px !important;
    }
    body.page_tour_foodie #fancy-header > .wf-wrap {
        background-position: center top+120px;
        background-size: 80%;
        min-height: 480px !important;
    }
    body.page_tour_night #fancy-header > .wf-wrap {
        background-position: center top+120px;
        background-size: 80%;
        min-height: 480px !important;
    }
    body.page_tour_photography #fancy-header > .wf-wrap {
        background-position: center top+120px;
        background-size: 80%;
        min-height: 480px !important;
    }
}
