ul#qv-mobile-menu {

}

ul#qv-mobile-menu li {
    text-align: center;
}

ul#qv-mobile-menu li.active > a,
ul#qv-mobile-menu li.active > span > a {
    color: #f68b25;
}

.slicknav_nav .slicknav_arrow {
    font-size: 1em;
    padding: 5px;
}

.slicknav_btn {
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -38px;
    margin-top: unset;
    border-radius: 0 0 8px 8px;
    background-color: #4c4c4c;
    line-height: 1;
    display: inline-table;
    z-index: 999;
}

.slicknav_menu {
    display: grid;

    z-index: 202;
    position: absolute;
    top: 0;
    left: 0;
    grid-area: header;
    width: 100%;
}

.slicknav_menu .slicknav_menutxt {
    line-height: 1;
    display: inline-block;
    text-shadow: none;
}

.slicknav_btn .lines {
    background: 0 0;
    vertical-align: middle;
    width: 18px;
    height: 3px;
    margin: -3px 6px 0 0;
    position: relative;
}

.slicknav_btn .lines,
.slicknav_btn .lines:after,
.slicknav_btn .lines:before {
    transition: .3s;
    background-color: #fff;
}

.slicknav_btn .lines:after,
.slicknav_btn .lines:before {
    display: inline-block;
    width: 18px;
    height: 3px;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 1.5px center;
    transform-origin: 1.5px center;
}

.slicknav_btn .lines:before {
    top: 5px;
}

.slicknav_btn .lines:after {
    top: -5px;
}

.slicknav_btn.slicknav_open .lines {
    background: 0 0;
}
.slicknav_btn.slicknav_open .lines:before {
    transform: rotate3d(0,0,1,45deg);
}
.slicknav_btn.slicknav_open .lines:after {
    transform: rotate3d(0,0,1,-45deg);
}
.slicknav_btn.slicknav_open .lines:after, .slicknav_btn.slicknav_open .lines:before {
    transform-origin: 50% 50%;
    top: 0;
    width: 20px;
}

.slicknav_parent-link.slicknav_row {}
.slicknav_parent-link.slicknav_row > a:first-child {
    margin-left: 30px;
}

.slicknav_parent > ul {
    margin: 0;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {

}

/* big landscape tablets, laptops, and desktops */
@media (min-width:960px) {
    .slicknav_menu {
        display: none !important;
    }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }