
header.header-bar {
    max-width: 1300px !important;
}

footer #bottom-bar {
    max-width: 1300px !important;
}

.page-title h1, .page-title h1 *, .page-title h1 a:hover, #page .page-title .entry-title {
    font-family: 'Playfair Display SC', Helvetica, Arial, Verdana, sans-serif;;
}

body #page > header.fancy-header,
body #page > .page-title {
    padding-top: 232px !important;
}

.vc_column_container>.vc_column-inner {
    padding-left: 0;
    padding-right: 0;
}

#fancy-header>.wf-wrap {
    z-index: unset;
}

#main {
    padding: 48px 0;
}

#main > .wf-wrap {
    padding: 0;
}

.vc_row {
    margin-left: 0;
    margin-right: 0;
}

.mtsnb {
    z-index: 999;
}

body.page_tour #main {
    padding: 0 !important;
    z-index: 998;
}

.pswp__button--arrow--left {
    left: 5%;
}
.pswp__button--arrow--right {
    right: 5%;
}

.mobile-header-bar {
    display: none !important;
}

.scroll-top.on {
    z-index: 1099;
    right: 28px;
    bottom: 99px;
}

.gfield.gform_validation_container {
    display: none;
}
ul.gform_fields {
    margin: 0;
}
ul.gform_fields li.gfield {
    margin-bottom: 16px;
}

.wpml-ls-legacy-list-horizontal {
    padding: 0;
}
.wpml-ls-legacy-list-horizontal a {
    padding: 0;
}
.wpml-ls-legacy-list-horizontal li+li {
    margin-left: 4px !important;
}

@media (min-width: 769px) {
    li.gfield .gfield_label {
        float: left;
        width: 160px;
    }
    li.gfield .ginput_container {
        float: left;
    }
    ul.gform_fields li.gfield {
        margin-bottom: 16px;
        clear: both;
        overflow: hidden;
    }
}

@media (max-width: 960px) {
    body #page > header.fancy-header,
    body #page > .page-title {
        padding-top: 64px !important;
    }
}
@media (max-width: 768px) {
    .scroll-top.on {
        visibility: hidden;
    }
}
