body.page_gallery {}

body.page_gallery .row-photo-galleries {}
body.page_gallery .row-photo-galleries .albums-shortcode {}
body.page_gallery .row-photo-galleries .albums-shortcode .dt-css-grid {}
body.page_gallery .row-photo-galleries .albums-shortcode .dt-css-grid .post-entry-content {}
body.page_gallery .row-photo-galleries .albums-shortcode .dt-css-grid .post-entry-content .entry-title {
    margin: 16px 0 8px 0;
    font-family: "Playfair Display", Helvetica, Arial, Verdana, sans-serif;
}
body.page_gallery .row-photo-galleries .albums-shortcode .dt-css-grid .post-entry-content .entry-excerpt {
    width: 90%;
    margin: 0 auto;
}


body.page_gallery {}
body.page_gallery #content hr.styled-horizontal { margin: 24px auto; }

body.page_gallery .row-video-galleries {}
body.page_gallery .row-video-galleries .video-clips-block {}
body.page_gallery .row-video-galleries .video-clips-item {
    /* responsive width */
    float: left;
    margin-bottom: 2em;
}
body.page_gallery .row-video-galleries .video-clips-item .vci-image {
    line-height: 0;
    position: relative;
}
body.page_gallery .row-video-galleries .video-clips-item .vci-image img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}
body.page_gallery .row-video-galleries .video-clips-item .vci-image a.wrap-hover {
    line-height: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 16px;
}
body.page_gallery .row-video-galleries .video-clips-item .vci-image:hover a.wrap-hover {
    background-color: rgba(0,0,0,.6);
}
body.page_gallery .row-video-galleries .video-clips-item a > span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    display: block;
    /* background-color: rgba(0,0,0,.5); */
    line-height: 1;
    text-align: center;
    margin-left: -160px;
    margin-top: 36px;
    padding: 8px 0;
    color: white;
    font-family: 'maiandra_gd_demi_bold', Helvetica , Arial, sans-serif;
    opacity: .8;
}
body.page_gallery .row-video-galleries .video-clips-item a > i {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    margin-left: -32px;
    margin-top: -32px;
    padding: 1px;
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 64px;
    line-height: 1;
    opacity: 0.6;

    background-color: transparent;
}
body.page_gallery .row-video-galleries .video-clips-item a > i:before {
    background-color: rgba(0,0,0,.5);
    border-radius: 500px;
}
body.page_gallery .row-video-galleries .video-clips-item .vci-image:hover a > i {
    opacity: .8;
    color: #f88c00; /* #orange */
}
body.page_gallery .row-video-galleries .video-clips-item .vci-image:hover a > i:hover {

}

body.page_gallery .row-video-galleries .video-clips-item .vci-title {
    height: 64px;
    font-size: 1.2em;
    padding: 8px 0 4px 0;
    text-align: center;
    font-family: "Playfair Display", Helvetica, Arial, Verdana, sans-serif;
}
body.page_gallery .row-video-galleries .video-clips-item {}

@media all and ( min-width: 800px ) {
    body.page_gallery .row-video-galleries .video-clips-item {
        width: 32%;
        margin-right: 2%;
    }
    body.page_gallery .row-video-galleries .video-clips-item:nth-child(3),
    body.page_gallery .row-video-galleries .video-clips-item:nth-child(6),
    body.page_gallery .row-video-galleries .video-clips-item:nth-child(9),
    body.page_gallery .row-video-galleries .video-clips-item:nth-child(12),
    body.page_gallery .row-video-galleries .video-clips-item:nth-child(15) {
        margin-right: 0;
    }
}
@media all and ( min-width: 480px ) and ( max-width: 799px ) {
    body.page_gallery .row-video-galleries .video-clips-item {
        width: 43%;
    }
    body.page_gallery .row-video-galleries .video-clips-item:nth-child(even) {
        margin-right: 4%;
        margin-left: 5%;
    }
    body.page_gallery .row-video-galleries .video-clips-item:first-child {
        width: 90%;
        float: none;
        clear: both;
        margin-left: auto;
        margin-right: auto;
    }
    /*body.page_gallery .row-video-galleries .video-clips-item {*/
    /*width: 48%;*/
    /*}*/
    /*body.page_gallery .row-video-galleries .video-clips-item:nth-child(odd) {*/
    /*margin-right: 4%;*/
    /*}*/
    /*body.page_gallery .row-video-galleries .video-clips-item:last-child {*/
    /*float: none;*/
    /*clear: both;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*}*/
}
@media all and ( max-width: 479px ) {
    body.page_gallery .row-video-galleries .video-clips-item {
        width: 90%;
        float: none;
        clear: both;
        margin-left: auto;
        margin-right: auto;
    }
    body.page_gallery .row-photo-galleries {
        padding-left: 8px;
        padding-right: 8px;
    }
}
