body.page_tour {}

body.page_tour .row-other-tour-wrapper {
    background: transparent url("../assets/page-tour-bg-bottom.jpg") no-repeat top center;
    padding: 144px 0 48px 0;
}

body.page_tour .row-other-tour-wrapper .row-other-tour-title {
    text-align: center;
}
body.page_tour .row-other-tour-wrapper .row-other-tour-title h3 {
    color: #999999;
}

body.page_tour .row-other-tour-wrapper .row-other-tour-separator {}

body.page_tour .row-other-tour-wrapper .row-other-tour-cols {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 0;
}

body.page_tour .row-other-tour-wrapper .row-other-tour-cols .vc_column_container {
    /*text-align: center;*/
}

body.page_tour .row-other-tour-wrapper .row-other-tour-cols .vc_column_container .tour_card {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 24px;
    padding-bottom: 32px;
}
body.page_tour .row-other-tour-wrapper .row-other-tour-cols .vc_column_container .tour_card img {
    width: 100%;
    border-radius: 24px 24px 0 0;
}

body.page_tour .row-other-tour-wrapper .row-other-tour-cols .vc_column_container .tour_card.sights {
    background-color: #2E3192;
}
body.page_tour .row-other-tour-wrapper .row-other-tour-cols .vc_column_container .tour_card.foodie {
    background-color: #C1272D;
}
body.page_tour .row-other-tour-wrapper .row-other-tour-cols .vc_column_container .tour_card.night {
    background-color: #300026;
}
body.page_tour .row-other-tour-wrapper .row-other-tour-cols .vc_column_container .tour_card.photography {
    background-color: #006837;
}
body.page_tour .row-other-tour-wrapper .row-other-tour-cols .vc_column_container .tour_card.custom {
    background-color: #C1272D;
}

body.page_tour .row-other-tour-wrapper .row-other-tour-cols .vc_column_container .tour_card .wrap-image {}

body.page_tour .row-other-tour-wrapper .row-other-tour-cols .vc_column_container .tour_card .wrap-title {
    margin-top: -72px;
}
body.page_tour .row-other-tour-wrapper .row-other-tour-cols .vc_column_container .tour_card .wrap-title img.tour_title {
    width: auto;
    height: 96px;
}

body.page_tour .row-other-tour-wrapper .row-other-tour-cols .vc_column_container .tour_card .wrap-time-start {
    color: white;
    font-style: italic;
}
body.page_tour .row-other-tour-wrapper .row-other-tour-cols .vc_column_container .tour_card .wrap-price-time {
    color: white;
    font-size: 24px;
    font-weight: 700;
}
body.page_tour .row-other-tour-wrapper .row-other-tour-cols .vc_column_container .tour_card .wrap-learnmore {
    margin: 32px 0;
}
body.page_tour .row-other-tour-wrapper .row-other-tour-cols .vc_column_container .tour_card .wrap-learnmore a {
    color: white;
    text-decoration: none;
    border: solid 1px white;
    padding: 8px 16px;
    border-radius: 32px;
}

body.page_tour .row-tourpage-booknow {
    margin-top: -110px;
    z-index: 999;
}
body.page_tour .row-tourpage-booknow .btn-tourpage-booknow {
    font-weight: bold;
    font-size: 2em;
    border-radius: 32px;
    padding: 16px 32px 24px 32px;
    text-transform: none;
}

body.page_tour .row-tourpage-shortinfo-wrapper {}
body.page_tour .row-tourpage-shortinfo-cols {}
body.page_tour .row-tourpage-shortinfo-cols > .vc_column_container {}
body.page_tour .row-tourpage-shortinfo-cols > .vc_column_container .wpb_content_element {
    margin-bottom: 0;
}
body.page_tour .row-tourpage-shortinfo-cols > .vc_column_container:first-child {
    text-align: right;
    padding-right: 16px;
}
body.page_tour .row-tourpage-shortinfo-cols > .vc_column_container:first-child p {
    margin: 0;
    font-size: 20px;
}
body.page_tour .row-tourpage-shortinfo-cols > .vc_column_container:first-child p:first-of-type {
    font-style: italic;
}
body.page_tour .row-tourpage-shortinfo-cols > .vc_column_container:first-child p:nth-of-type(2) {
    font-weight: bold;
    font-size: 24px;
}
body.page_tour .row-tourpage-shortinfo-cols > .vc_column_container:first-child p:last-of-type {
    font-weight: bold;
    color: #999999;
}
body.page_tour .row-tourpage-shortinfo-cols > .vc_column_container:last-child {
    padding-left: 16px;
    border-left: solid 1px #dddddd;
}
body.page_tour .row-tourpage-shortinfo-cols > .vc_column_container:last-child p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

body.page_tour .row-tourpage-description .block-cool-momento {
    border: solid 8px #dddddd;
    border-radius: 24px;
    padding: 0 16px 16px 16px;
    background: transparent url("../assets/item-gopro.png") no-repeat left+24px center;
    background-size: 120px 120px;
}
body.page_tour .row-tourpage-description .block-cool-momento h4 {
    color: #a51a1a;
    text-align: center;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -32px;
    background: white;
    font-weight: bold;
    font-style: italic;
}
body.page_tour .row-tourpage-description .block-cool-momento p {
    margin-left: 160px;
}

body.page_tour .row-tourpage-description .block-quote-red {}
body.page_tour .row-tourpage-description .block-quote-red .wpb_wrapper {
    padding-left: 16px;
    border-left: solid 2px #a51a1a;
}
body.page_tour .row-tourpage-description .block-quote-red p {
    margin-bottom: 0;
}

body.page_tour .row-tourpage-description .block-more-gallery-blog {

}
body.page_tour .row-tourpage-description .block-more-gallery-blog a.button {
    border-radius: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

body.page_tour .row-tourpage-description .block-simple-photo {

}
body.page_tour .row-tourpage-description .block-simple-photo p {
    font-size: 14px;
    line-height: 1;
    float: none;
    clear: both;
}

body.page_tour #content .block-tour-video {}
body.page_tour #content .block-tour-video .video-clip-block {}
body.page_tour #content .block-tour-video .video-clip-item {}
body.page_tour #content .block-tour-video .video-clip-item .vci-image {
    line-height: 0;
    position: relative
}
body.page_tour #content .block-tour-video .video-clip-item .vci-image a.wrap-hover {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0;
    background-color: transparent
}
body.page_tour #content .block-tour-video .video-clip-item .vci-image:hover a.wrap-hover {
    background-color: rgba(0,0,0,.6)
}
body.page_tour #content .block-tour-video .video-clip-item .vci-image a>span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    display: block;
    line-height: 1;
    text-align: center;
    margin-left: -160px;
    margin-top: 36px;
    padding: 8px 0;
    color: #fff;
    /*font-family: maiandra_gd_demi_bold,Helvetica,Arial,sans-serif;*/
    opacity: 1;
    color: #f88c00
}
body.page_tour #content .block-tour-video .video-clip-item .vci-image a>i {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    margin-left: -32px;
    margin-top: -32px;
    padding: 1px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 64px;
    line-height: 1;
    opacity: 1;
    /*color: #f88c00;*/
    background-color: transparent
}
body.page_tour #content .block-tour-video .video-clip-item .vci-image:hover a>i {
    color: #f88c00;
}
body.page_tour #content .block-tour-video .video-clip-item .vci-image a>i:before {
    background-color: rgba(0,0,0,.5);
    border-radius: 500px
}
body.page_tour #content .block-tour-video .video-clip-item .vci-image img {
    width: 100%;
    height: auto
}

body.page_tour .row-tourpage-fillfast {
    margin-top: -110px;
    z-index: 999;
}
body.page_tour .row-tourpage-fillfast .btn-tourpage-booknow {
    font-weight: bold;
    font-size: 24px;
    border-radius: 32px;
    padding: 24px 64px;
    padding-top: 16px;
    text-transform: none;
    margin-bottom: 16px;
}

body.page_tour .row-tourpage-extend {}
body.page_tour.page_tour_sights .row-tourpage-extend {
    background: transparent url("../assets/bg-mid-raw-sights.jpg") no-repeat top center;
    background-size: cover;
}
body.page_tour.page_tour_foodie .row-tourpage-extend {
    background: transparent url("../assets/bg-mid-raw-foodie.jpg") no-repeat top center;
    background-size: cover;
}
body.page_tour.page_tour_night .row-tourpage-extend {
    background: transparent url("../assets/bg-mid-raw-night.jpg") no-repeat top center;
    background-size: cover;
}
body.page_tour.page_tour_photography .row-tourpage-extend {
    background: transparent url("../assets/bg-mid-raw-photography.jpg") no-repeat top center;
    background-size: cover;
}

body.page_tour .row-tourpage-extend .block-scratch-top {
    background: transparent url("../assets/scratch-top.svg") no-repeat top center;
    height: 240px;
    margin-bottom: -66px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -1px;
}
body.page_tour .row-tourpage-extend .block-scratch-bottom {
    background: transparent url("../assets/scratch-bottom.svg") no-repeat bottom center;
    height: 240px;
    margin-top: -66px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -1px;
}

body.page_tour .row-tourpage-extend .block-enjoyable {}
body.page_tour .row-tourpage-extend .block-enjoyable p,
body.page_tour .row-tourpage-extend .block-enjoyable h3 {
    margin-bottom: 0;
}

body.page_tour .block-recommend {}
body.page_tour .block-recommend fieldset {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    border: solid 8px #dddddd;
    border-radius: 48px;
    padding: 0 64px 16px 64px;
}
body.page_tour .block-recommend fieldset legend {
    padding: 0 24px;
    margin: 0;
    margin-bottom: 16px;
}
body.page_tour .block-recommend fieldset img {
    margin-bottom: 0;
}

body.page_tour .row-tourpage-extend .block-tour-includes {}
body.page_tour .row-tourpage-extend .block-tour-includes fieldset {
    border: dotted 2px #2d3092;
    border-radius: 48px;
    padding: 48px;
}
body.page_tour .row-tourpage-extend .block-tour-includes fieldset legend {
    color: #2d3092;
    text-align: center;
    margin: 0;
    padding: 0 16px;
    padding-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
}
body.page_tour .row-tourpage-extend .block-tour-includes fieldset div.item {
    margin: 0;
    margin-bottom: 24px;
    padding: 0 0 0 64px;
    /*padding-top: 8px;*/
    float: left;
    width: 240px;
    height: 48px;
}
body.page_tour .row-tourpage-extend .block-tour-includes fieldset div.item:nth-child(odd) {
    margin-left: 48px;
}
body.page_tour .row-tourpage-extend .block-tour-includes fieldset div.item em {
    font-size: 12px;
}
body.page_tour .row-tourpage-extend .block-tour-includes fieldset div.item .single {
    height: 48px;
    display: table-cell;
    vertical-align: middle;
}
body.page_tour .row-tourpage-extend .block-tour-includes fieldset div.item .double {
    line-height: 1.2;
}
body.page_tour .row-tourpage-extend .block-tour-includes fieldset div.item.insurance {
    background: transparent url("../assets/item-service-insurance.png") no-repeat left top;
    background-size: 48px;
}
body.page_tour .row-tourpage-extend .block-tour-includes fieldset div.item.helmet {
    background: transparent url("../assets/item-service-helmet.png") no-repeat left top;
    background-size: 48px;
}
body.page_tour .row-tourpage-extend .block-tour-includes fieldset div.item.dropoff {
    background: transparent url("../assets/item-service-pickup.png") no-repeat left top;
    background-size: 48px;
}
body.page_tour .row-tourpage-extend .block-tour-includes fieldset div.item.snack {
    background: transparent url("../assets/item-service-food.png") no-repeat left top;
    background-size: 48px;
}
body.page_tour .row-tourpage-extend .block-tour-includes fieldset div.item.guide {
    background: transparent url("../assets/item-service-guide.png") no-repeat left top;
    background-size: 48px;
}
body.page_tour .row-tourpage-extend .block-tour-includes fieldset div.item.water {
    background: transparent url("../assets/item-service-water.png") no-repeat left top;
    background-size: 48px;
}
body.page_tour .row-tourpage-extend .block-tour-includes fieldset div.item.drink {
    background: transparent url("../assets/item-service-drink.png") no-repeat left top;
    background-size: 48px;
}
body.page_tour .row-tourpage-extend .block-tour-includes fieldset div.item.pictures {
    background: transparent url("../assets/item-service-photo.png") no-repeat left top;
    background-size: 48px;
}
body.page_tour .row-tourpage-extend .block-tour-includes fieldset div.item.poncho {
    background: transparent url("../assets/item-service-poncho.png") no-repeat left top;
    background-size: 48px;
}
body.page_tour .row-tourpage-extend .block-tour-includes fieldset div.item.video {
    background: transparent url("../assets/item-service-video.png") no-repeat left top;
    background-size: 48px;
}
body.page_tour .row-tourpage-extend .block-tour-includes fieldset div.item.private {
    background: transparent url("../assets/item-service-private.png") no-repeat left top;
    background-size: 48px;
}
body.page_tour .row-tourpage-extend .block-tour-includes fieldset div.final {
    clear: both;
    float: none;
    text-align: center;
    font-size: 24px;
    padding-top: 32px;
}

body.page_tour .row-tourpage-extend .block-not-equal {}
body.page_tour .row-tourpage-extend .block-not-equal p:first-of-type {
    font-weight: bold;
    font-size: 22px;
}
body.page_tour .row-tourpage-extend .block-not-equal p:nth-of-type(2) {
    font-style: italic;
    font-size: 20px;
}
body.page_tour .row-tourpage-extend .block-not-equal a.button {
    font-family: "Playfair Display SC", Helvetica, Arial, Verdana, sans-serif;
    border-radius: 24px;
    font-weight: bold;
    text-transform: none;
    padding: 12px 24px;
    background: white;
    color: #f68b25;
    border: solid 1px #f68b25;
}
body.page_tour .row-tourpage-extend .block-not-equal a.button:hover {
    color: white;
}

body.page_tour .row-tourpage-extend .block-now-hoian a.button {
    font-family: "Playfair Display SC", Helvetica, Arial, Verdana, sans-serif;
    border-radius: 24px;
    font-weight: bold;
    text-transform: none;
    padding: 12px 24px;
    background: white;
    color: #f68b25;
    border: solid 1px #f68b25;
}
body.page_tour .row-tourpage-extend .block-now-hoian a.button:hover {
    color: white;
}

/*body.page_tour .row-tourpage-extend .block-review {*/
    /*border: solid 4px #dddddd;*/
    /*border-radius: 24px;*/
    /*position: relative;*/
    /*max-width: 640px;*/
/*}*/
/*body.page_tour .row-tourpage-extend .block-review {*/
    /*height: 160px;*/
/*}*/
/*body.page_tour .row-tourpage-extend .block-review.second {*/
    /*height: 160px;*/
/*}*/
/*body.page_tour .row-tourpage-extend .block-review img {*/
    /*width: 96px;*/
    /*margin-right: 32px;*/
    /*margin-top: -32px;*/
    /*margin-left: 16px;*/
/*}*/
/*body.page_tour .row-tourpage-extend .block-review p {*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*top: 20px;*/
/*}*/
body.page_tour .row-tourpage-extend .block-review {
    border: solid 4px #dddddd;
    border-radius: 24px;
    position: relative;
    max-width: 640px;
}
body.page_tour .row-tourpage-extend .block-review table {
    border: none !important;
}
body.page_tour .row-tourpage-extend .block-review table td {
    border: none !important;
}
body.page_tour .row-tourpage-extend .block-review tr>td:first-child {}
body.page_tour .row-tourpage-extend .block-review tr>td:first-child img {
    max-width: 120px;
    margin: -64px 0 0 16px;
}
body.page_tour .row-tourpage-extend .block-review tr>td:last-child {
    padding: 16px;
}

body.page_tour .block-addthis-wrapper {
    max-width: 294px;
    text-align: center;
    white-space: nowrap;
    overflow: visible;
}


@media (max-width: 1366px) {

}

@media (max-width: 960px) {
    body.page_tour .row-tourpage-extend .block-tour-includes fieldset div.item {
        width: 30%;
    }
}

@media (max-width: 768px) {
    body.page_tour .row-tourpage-description .block-quote-red {
        margin-left: 5%;
    }
    body.page_tour.page_tour_foodie .row-tourpage-extend .block-review {
        height: 180px;
    }
    body.page_tour.page_tour_foodie .row-tourpage-extend .block-review.second {
        height: 200px;
    }
}

@media (max-width: 440px) {
    body.page_tour .row-tourpage-shortinfo-cols .vc_col-sm-6 {
        padding: 0 !important;
    }
    body.page_tour .row-tourpage-shortinfo-cols .vc_col-sm-6+.vc_col-sm-6 {
        margin-top: 24px;
    }
    body.page_tour .row-tourpage-shortinfo-cols > .vc_column_container .wpb_content_element {
        text-align: center;
    }
    body.page_tour .row-tourpage-extend .block-tour-includes {}
    body.page_tour .row-tourpage-extend .block-tour-includes fieldset {
        padding: 24px;
    }
    body.page_tour .row-tourpage-extend .block-tour-includes fieldset div.item:nth-child(odd) {
        margin-left: 0;
    }
    body.page_tour .row-tourpage-extend .block-tour-includes fieldset legend {

    }
    body.page_tour .row-tourpage-extend .block-tour-includes fieldset div.item {
        width: 100%;
    }
    body.page_tour .row-tourpage-extend .block-tour-includes fieldset div.item .single {
        max-width: 200px;
    }

    body.page_tour.page_tour_foodie .row-tourpage-extend .block-review {
        height: 400px;
        margin-left: 16px;
        margin-right: 16px;
    }
    body.page_tour.page_tour_foodie .row-tourpage-extend .block-review.second {
        height: 400px;
        margin-left: 16px;
        margin-right: 16px;
    }

    body.page_tour .row-tourpage-extend .block-review tr>td:first-child {
        width: 96px;
    }
    body.page_tour .row-tourpage-extend .block-review tr>td:first-child img {
        top: -24px;
        position: absolute;
        margin: 0;
        max-width: 96px;
    }
}

@media (max-width: 320px) {
    body.page_tour.page_tour_foodie .row-tourpage-extend .block-review {
        height: 420px;
    }
    body.page_tour .row-tourpage-extend .block-review tr>td:first-child {
        width: 0;
        padding: 0;
    }
    body.page_tour .row-tourpage-extend .block-review tr>td:last-child {
        padding-top: 150px;
    }
}