
.text-center {
    text-align: center;
}

.hidden {
    display: none !important;
}

.max_width_1600 {
    max-width: 1600px;
}
.max_width_1500 {
    max-width: 1500px;
}
.max_width_1400 {
    max-width: 1400px;
}
.max_width_1300 {
    max-width: 1300px;
}
.max_width_800 {
    max-width: 840px;
}
.max_width_600 {
    max-width: 600px;
}
.max_width_400 {
    max-width: 400px;
}

.margin_left_auto {
    margin-left: auto;
}
.margin_right_auto {
    margin-right: auto;
}
.margin_bottom_0 {
    margin-bottom: 0;
}

.text_align_justify {
    text-align: justify !important;
}
.text_align_center {
    text-align: center !important;
}
.text_align_left {
    text-align: left !important;
}
.text_align_right {
    text-align: right !important;
}

.gap-gap {
    float: none;
    clear: both;
}

@media (max-width: 440px) {
    .gap-gap.responsive {
        max-height: 48px !important;
    }
}

@media (max-width: 320px) {
    .gap-gap.responsive {
        max-height: 32px !important;
    }
}
